// Project: feliperieiro.space (web-portfólio)
// Archive: main SASS file for global styles determination
// Autor: Felipe J. O. Ribeiro
//=========================================================

@import url('https://fonts.googleapis.com/css2?family=Courgette&Poppins&family=Work+Sans&display=swap');

//* Global colour control
// color for big things
$primary-color:#597379;
$secondary-color: #86cec2;
$tertiary-color: rgb(210, 234, 235);
$global-background: rgb(62, 66, 62);

// color for small things 
$primary-ascent: #BE9962;
$secondary-ascent: #C5CCB8;

// color for text
$dark-text-color: #433455;
$primary-text-color: #BE9962;
$secondary-text-color: #82A09B;

// Transparent themes
$t-primary-color: rgba($primary-color, 0.85);

//* Global fonts control
$font-size:(
    "global": 62.5%, // default pixel size= 16, 1rem= 10px
    "regular": 1.5rem,
    "sub-medium": 2rem,
    "medium": 2.5rem,
    "big": 2.2rem,
    "bigger": 3rem
);

$font-weights:(
   "regular": 400,
   "medium": 500,
   "bold": 700,
   "boldest": 900 
);

$font-type:(
    "primary":  'Work Sans',
    "secondary": 'Poppins',
    "title": 'Courgette'
);

//* Responsiveness thresholds
$medium: 30em;


//* Global properties

*, *::before, *::after{
    box-sizing: border-box;
    // outline: 2px solid red;
    margin: 0%;
    padding: 0rem;
}

html{
    font-size: map-get($map: $font-size, $key: global);
}

body{
    margin: 0;
    padding: 0;
    background: $global-background;
    font-family: map-get($map: $font-type, $key: primary), 'sans serif'; 
    font-weight: map-get($map: $font-weights, $key: regular);
}

//* Header style goes here  
header{
    // General definitions
    background: $t-primary-color;
    font-size: map-get($map: $font-size, $key: regular);
    color: $primary-text-color;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 7rem;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
   
    h1{
        font-family: map-get($map: $font-type, $key: title );
        color: $secondary-color;
        font-size:map-get($map: $font-size, $key: medium );
    }    

    nav{
        
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a{
            color: $secondary-color;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 1s;
            &:hover{
                color: $tertiary-color;
                border-bottom: 0.2rem solid $tertiary-color;
            }

        }
    }

    // For small screens
    @media screen and (max-width: $medium){
        flex-direction: row;
        height: 4.5em;
        padding-left: 5vw;
        padding-right: 10vw;
        
        h1{
            font-size: map-get($map: $font-size, $key: sub-medium);
        }

        // Css for nav properties 
        nav{
            display: block;
            padding: 3rem 0rem 0rem 0rem;
            background: $t-primary-color;
            position: absolute;
            width: 100%;
            height:65vh;
            text-align: left;
            top: 100%;
            left: 0rem;
            transform: scale(1 , 0);
            transform-origin: top;
            transition: transform 200ms ease-in-out;
            
            ul{
                height: calc(100% - 5rem);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            a{
                opacity: 0;
                transition: opacity 100ms ease-in-out;
                font-size: map-get($map: $font-size, $key: big );
            }
        }

        //* Toggle for small screens
        .nav-toggle{
            display: none;  //The toggle stays hidden, other element represent it
        
            &:checked ~ nav{
                transform: scale(1 , 1);
                
                a{
                    transition: opacity 100ms ease-in-out 150ms;
                    opacity: 1;
                }
            }

            // This represents the toggle button
            &-label{
                position: absolute;
                top: 0%;
                right: 0%;
                margin-right: 1rem;
                height: 100%;
                display: flex;
                align-items: center;

                span,
                span::before, 
                span::after{

                    display: block;
                    background: $secondary-color;
                    height: 0.2rem;
                    width: 2.2em;
                    border-radius: 0.2rem;
                    position: relative;

                }
            span::before, 
            span::after{
                content: "";
                position: absolute;
            }
            span::before{
                bottom: 7px;
            }
            span::after{
                top: 7px;
            }
            }
        }
    }

    // For desktop
    @media screen and (min-width: $medium){
        justify-content: space-between;
        padding-left: 10vw;
        padding-right: 10vw;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .nav-toggle{
            display: none;

            &-label{
                display: none;
            }
        }

        a{
            padding: 0rem;
            margin-left: 5vw;
            font-size: map-get($map: $font-size, $key: sub-medium );
        }
    }

}





//* Home content styles comes here
.content-home{
    position: relative;
    padding: 0rem;
    background-blend-mode: multiply;
    padding: 7rem 0rem 0rem 0rem;
    height: calc(100vh - 7rem);
    
    
    #hero-graphic{
        width: 100%;
        position: relative;
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-images{

            width: 35rem;
            height: 35rem;
            overflow: hidden;
            border-radius: 20rem;
            
            img{
                width: 100%;
            }
        }
    }

    #hero-elements{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        
        p{
            padding: 0rem;
            font-size: map-get($map: $font-size, $key: regular);
            color: $secondary-color;
        }

        #info{
            color: $secondary-color;
            font-size: map-get($map: $font-size, $key: sub-medium);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            ul{
                list-style: none;
            }

            a{
                text-decoration: none;
                color: $secondary-color;

                &:hover{
                    color: $tertiary-color;
                }
            }
        }
        
    }

    #background-text{
        position: absolute;
        top: 7rem;
        font-size: 2rem;
    }



    @media screen and (max-width: $medium){

        #hero-graphic{

            .hero-images{
                margin-top: 10rem;
                width: 70vw;
                height: 70vw;
                border-radius: 70vw;
            }      
        }

    }    


}